.my-name {
    color: rgb(241, 227, 23);
    font-size: 85px;
    font-weight: 500px;
    position: relative;
    left: 80mm;
    bottom: 8mm;
    font-weight: bolder;
    font-stretch: narrower;
    outline-style: solid;
    display: inline-block;
    padding-left: 10mm;
    padding-right: 10mm;
    padding-bottom: 5mm;
    padding-top: 5mm;
    background-color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
    
    
}
    
.julian {
    width: 18%;
    float: right;
    border: 5px solid rgb(0, 0, 0);
    position: relative;
    right: 120mm;
    bottom: 30mm;
}

.my-goal {
    font-size: 60px;
    font-weight: 500;
    text-align: right;
    position: relative;
    right: 83mm;
    bottom: 22mm;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.nav-items a {
    color: crimson;
    display: block;
    font-size: 50px;
    border: 10px solid rgb(245, 41, 167);
    
    text-decoration: none;
    
    float: top;
}

a:hover {
    color: yellow;
}

.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: black;
    position: relative;
    left: 15mm;
    bottom: 35mm;
}

.page-wrapper {
    
}
.index-body {
    
}



.contact-body {
    
    background-image: url(../images/greenaurora.jpg);
    background-size: cover;
}

.contact {
    width: 85%;
    max-width: 600px;
    background: rgb(179, 9, 24);
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: arial

}

.contact-heading {
    margin-top: 0;
    font-weight: 200;
}

.textbox {
    border:2px solid rgb(219, 233, 20);
    margin: 8px 0;
    padding: 8px 18px;
    border-radius: 5px;
    

}

.textbox label {
    
    display: block;
    text-align: left;
    color: rgb(248, 13, 217);
    text-transform: uppercase;
    font-size: 14px;
    
}

.textbox input {
    
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
    width: 100%;
    

}

.textbox textarea {
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
    display: block;
    
    width: 100%;
    display: block;
}

.send-button {
    display: inline block;
    background-color: rgb(241, 227, 23);
    padding-left: 2mm;
    padding-right: 2mm;
    padding-top: 2mm;
    padding-bottom: 2mm;
    color: white;
    text-transform :uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 150%;
    position: relative;
    top: 3mm;
    border: 2px solid red;
    
    
}
 .nav-contact {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: black;
    position: relative;
    left: 10mm;
    top: 20mm;
 }

 .nav-contact a {
     color: crimson;
    display: block;
    font-size: 30px;
    border: 5px solid rgb(245, 41, 167);
    
    text-decoration: none;
    
    float: top;
 }

 .nav-contact a:hover {
     color: rgb(219, 233, 20);
 }

.about-body {
    background-image: url(../images/red1.jpg);
    background-size: cover;
}

.about-me {
    font-size: 60px;
    color: rgb(18, 224, 207);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    display: inline-block;
}

.writing {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: white;


}

.personality {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(240, 209, 33);
    border: 1px solid rgb(243, 228, 12);
    background-color: black;
    display: inline-block;
}

.skills-heading {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(240, 209, 33);
    border: 1px solid rgb(243, 228, 12);
    background-color: black;
    display: inline-block;
    text-align: center;
   
}

.writing2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: white;
}

.personality-container {
    position: relative;
    left: 140mm;
    bottom: 30mm;
}

.skills-container {
    position: relative;
    left: 140mm;
    bottom: 30mm;
}

.brain2 {
    position: relative;
    right: 80mm;
    bottom: 150mm;
}

.brain1 {
    position: relative;
    bottom: 105mm;
    left: 9mm;
}

.nav-about {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: black;
    position: relative;
    left: 295mm;
    bottom: 250mm;
 }

 .nav-about a {
     color: crimson;
    display: block;
    font-size: 30px;
    border: 5px solid rgb(245, 41, 167);
    
    text-decoration: none;
    
    float: top;
 }

 .nav-about a:hover {
     color: rgb(219, 233, 20);
 }
 
 .nav-experience {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: black;
    position: relative;
    left: 20mm;
    bottom: 100mm;
 }

 .nav-experience a {
     color: crimson;
    display: block;
    font-size: 30px;
    border: 5px solid rgb(245, 41, 167);
    
    text-decoration: none;
    
    float: top;
 }

 .nav-experience a:hover {
     color: rgb(219, 233, 20);
 }

.experience-body {
    background-image: url(../images/blue4.jpg);
    background-size: cover;
}

.experience-heading {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(83, 238, 22);
    border: 1px solid rgb(30, 10, 209);
    background-color: rgb(240, 13, 13);
    display: inline-block;
    text-align: center;
    font-size: 50px;
   
}
.experience-container {
    position: relative;
    left: 130mm;
    top: 20mm;
}

.writing3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: rgb(194, 233, 22);
    
}

.experience-heading {
    position: relative;
    left: 10mm;
}

.book {
    position: relative;
    bottom: 80mm;
    left: 30mm;
}

.resume {
    position: relative;
    left: 200mm;
    bottom: 180mm;
    border: 3px solid rgb(255, 255, 255);
    background-color: ;
    display: inline-block;
    padding-left: 2mm;
    padding-right: 2mm;
    padding-top: 2mm;
    padding-bottom: 2mm;
    background-color: rgb(226, 15, 33);
}

.resume a {
    color: rgb(255, 255, 255)
}

.resume a:hover {
    color: rgb(58, 17, 240)
}